!! Emacs
Emacs*menuBar:                  off
Emacs*toolBar:                  off
Emacs.background:               #012456
Emacs.foreground:               #eeedf0
Emacs.cursorColor:              yellow
Emacs*font:                     Monospace-10
Emacs*verticalScrollBars:       off

!! URxvt
URxvt.urgentOnBell:             true
URxvt*font:                     xft:Monospace-10
URxvt.scrollBar:                false
URxvt.color0:                   #000000
URxvt.color1:                   #b45151
URxvt.color2:                   #aece92
URxvt.color3:                   Khaki3
URxvt.color4:                   #074798
URxvt.color5:                   #aa6eaf
URxvt.color6:                   #418179
URxvt.color7:                   #bebebe
URxvt.color8:                   #666666
URxvt.color9:                   #fe8686
URxvt.color10:                  #97fa97
URxvt.color11:                  #efe58b
URxvt.color12:                  #86cdea
URxvt.color13:                  #cb96ce
URxvt.color14:                  #71bebe
URxvt.color15:                  #ffffff
URxvt.foreground:               #eeedf0
URxvt.background:               #012456
URxvt.cursorColor:              yellow

!! Look
Xft.dpi: 144
Xft.antialias:  1
Xft.hinting:    1
Xft.hintstyle:  hintslight
Xft.rgba:       rgb

#include ".Xresources.local"
